nav {
  background-color: #071952;
  color: #fff;
  height: 3.5rem;
}
nav .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  font-size: larger;
  font-weight: bold;
}

#links {
  display: flex;
  /* align-items: center; */
  gap: 2rem;
}

nav a {
  color: #fff;
}

nav a:hover {
  color: #f2f7a1;
}
